# Unity generated #
# =============== #
priest/[Tt]emp/
priest/[Oo]bj/
priest/[Bb]uild
priest/[Ll]ibrary/
priest/sysinfo.txt
*.stackdump
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
priest/ProjectSettings/ClusterInputManager.asset
priest/ProjectSettings/UnityConnectSettings.asset

priest/Library/shadercompiler-UnityShaderCompiler\.exe0\.log

priest/Library/assetDatabase3
